
.card{
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
}

.btn-hover {
  transition: all 0.3s ease;
}

#home {
  background-color: white !important;
}

#home:hover {
  background-color: rgb(255, 255, 1) !important;
  color: black;
}